@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #7445FF;
  --buttonBG: #FDDD35;
  --darkPurple: #4C34A4;
  --dark: #030303;
}

body {
  color: white;
  background: var(--background);
  height: 100%;
  width: 100%;
  font-family: var(--font-montserrat);
}

img {
  pointer-events: none;
  user-select: none;
}